.App {
    margin: 1em;
}
.App h1 {
    color: maroon;
}
.App-header {
    display: flex;
    margin-bottom: 1em;
}
.App nav ul {
    display: flex;
    font-size: 1.25em;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.App nav li {
    margin-right: 2em;
}